appdirs==1.4.4
appnope==0.1.2
backcall==0.2.0
decorator==4.4.2
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.16
ptyprocess==0.7.0
pyee==8.1.0
Pygments==2.8.0
pyppeteer==0.2.5
tqdm==4.58.0
traitlets==5.0.5
urllib3==1.26.3
wcwidth==0.2.5
websockets==8.1
